
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    
}

.btn-primary:hover {
      background-color: yellowgreen; 
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #252432;
    text-align: center;
}

.section-description{
    font-size: 18px;
    color: #757575;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.nav-title{
    font-weight:800;
    font-size: 34px;
    color: #4E47FF;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

.banner{
    margin: auto;
    max-width: 900px;
    text-align: center;
    padding-top: 300px;
    padding-bottom: 150px;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}

.header{
    background-image: url('../images/Hero-bg.png');
}


.banner1 {
    display: flex;
    justify-content: space-between;
    margin: 100px 150px 120px 150px;
    align-items: center;

}
.banner-content1{
    max-width: 520px;
}

.banner-title1{
    font-weight: bold;
    font-size: 42px;
}
.banner-profile-pic1{
    width: 580px;
    border-radius: 48px;
}

.banner-description1 {
    color: #252432;
    font-size: 24px;
}

.about{
    border-radius: 24px;
    padding: 50px 150px 50px 150px;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    background-color: rgba(78, 71, 255,10%);
    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-title {
    font-weight: bold;
    font-size: 80px;
    color: #4E47FF;
    margin-bottom: 0px;
}

.item-description{
    font-size: 20px;

}


.user-info {
    margin-top: 140px;
    margin-bottom: 140;
    
}
h2 {
      color: #1d1d1f;
      font-size: 28px;
      margin-bottom: 40px;
    }

    .testimonial-container {
      display: flex;
      justify-content: center;
      gap: 24px;
      flex-wrap: wrap;
    }

    .testimonial-card {
      background-color: #ffffff;
      padding: 30px;
      border-radius: 16px;
      width: 400px;
      text-align: left;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .stars {
      color: #ffc107;
      margin-bottom: 50px;
    }

    .testimonial-title {
      font-size: 30px;
      font-weight: 700;
      color: #1d1d1f;
      margin-bottom: 8px;
    }

    .testimonial-text {
      font-size: 20px;
      color: #555;
      margin-bottom: 50px;
    }

    .reviewer-info {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .reviewer-img {
      width: 40px;
      height: 40px;
      border-radius:20px;
      object-fit: cover;
    }

    .reviewer-details {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }

    .reviewer-name {
      font-weight: 600;
      font-size: 18px;
      color: #555;
    }

    .reviewer-date {
      font-size: 14px;
      color: #999;
    }

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    width: 80%;
    margin-top: 100px;
    text-align: left;
    align-items: center;
}


.footer-column{
    width: 50%;
}

.footer-title {
    font-weight: bold;
    font-size: 100px;
    color: black;
}

footer input[type="text"],  footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: rgb(248, 246, 246);
    border-color: black;
    display: block;
    width: 94%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
.btn-primary1 {
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 10px;
    width: 100%;
}
.btn-primary1:hover {
      background-color: yellowgreen; 
}

.action-title {
    font-size: 30px;
    color: black;
}

.logos {
    margin: auto;
    text-align: center;
    align-items: center;
    width: 800px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo-title {
    font-weight: bold;
    font-size: 100px;
    color:blue;
    margin-bottom: 0%;
}
.about3{
    border-radius: 10px;
    padding: 130px 150px;
    
}
.about-items3{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
   
}

.item-title3 {
     text-decoration: none;
    color: black;
}
.item-description3{
    text-align: center;
}